<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

<body>

<div class='container'>

  <%= form_tag articles_path, method: :get, class: "navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :q, params[:q], placeholder: 'Search Articles', class: 'form-control' %>
    </div>
    <%= submit_tag "Go!", class: 'btn btn-default' %>
  <% end %>


  <div class='row'>
    <div class='col-md-8'>
      <span> 
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#"><h4>Articles</h4></a></li>
          <li role="presentation"><a href="#"><h4>   Tags   </h4></a></li>
          <li role="presentation"><a href="#"><h4> About </h4></a></li>
        </ul>
      </span>
     
      <span><p>
        <% @articles.each do |article| %>
            <div class="col-md-4">
              <h4><b><%= link_to article.title, article_path(article) %></b></h4>
              <p><%= article.text %></p>
            </div>
        <% end %>
      </span></p>
    </div><!-- /.col-md-8 -->

  </div><!-- /.row -->
</div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>

<ul>

 <%= link_to 'New article', new_article_path %>

</ul>