<h2>New Role</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.name_field :name, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', :action => 'list' %>